<app-budget-query></app-budget-query>

<h2>Totals</h2>
<div *ngIf="typeTotals$ | async as typeTotals">
    <div *ngFor="let typeTotal of typeTotals">
        <app-type-total [typeTotal]="typeTotal"></app-type-total>
    </div>
</div>

<h2>Budget Entries</h2>
<div *ngIf="budgetEntries$ | async as budgetEntries">
    <div *ngFor="let budgetEntry of budgetEntries">
        <app-budget-entry [budgetEntry]="budgetEntry"></app-budget-entry>
    </div>
</div>

<app-add-budget-entry></app-add-budget-entry>