
<form [formGroup]="budgetQueryForm" (ngSubmit)="onSubmit()">
    <label for="query-date">Query Date: </label>
    <input id="query-date" type="date" formControlName="queryDate">
    <label for="query-interval"></label>
    <select id="query-interval" formControlName="queryInterval">
        <option *ngFor="let interval of intervals" [value]="interval">{{ interval }}</option>
    </select>
    <button type="submit" [disabled]="!budgetQueryForm.valid">Get Data</button>
</form>

<h2>Totals</h2>
<div *ngIf="typeTotals$ | async as typeTotals">
    <div *ngFor="let typeTotal of typeTotals">
        <app-type-total [typeTotal]="typeTotal"></app-type-total>
    </div>
</div>

<h2>Budget Entries</h2>
<div *ngIf="budgetEntries$ | async as budgetEntries">
    <div *ngFor="let budgetEntry of budgetEntries">
        <app-budget-entry [budgetEntry]="budgetEntry"></app-budget-entry>
    </div>
</div>

<app-add-budget-entry></app-add-budget-entry>