<mat-grid-list cols="2" rowHeight="6:1">
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <app-budget-query></app-budget-query>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <app-type-totals></app-type-totals>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <app-add-budget-entry></app-add-budget-entry>
    </mat-grid-tile>
    <mat-grid-tile
    [colspan]="1"
    [rowspan]="6">
    <app-budget-entries></app-budget-entries>
</mat-grid-tile>
</mat-grid-list>
